<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>HideOut-Home</title>

    <link rel="shortcut icon" type="image/png" href="/css/images/message.png" />

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style = "height:50px;background-color:#101010">
         <a class="navbar-brand" style = "font-family: zorque;position:absolute;right:50px;" style = "float:right;" href="/">Hide Out</a>
   
   
   
         <ul class="nav navbar-nav navbar-right">
            <a href = "/user/<%= userData._id %>"><img src = "/profile/<%= userData.userImage %>" title = "<%= userData.username %>" id = "brnd" /></a>
            <li><a href="/user/<%= userData._id %>" id = "name"><%= userData.username %></a></li>
            <li><a href="/logout" id = "name">Logout</a></li>
       </ul>
         </div>
       </nav>
    <div class = "main">
      <input type = "hidden" id = "senderImage" value = "<%= userData.userImage %>">
      <input type="hidden" id = "room" value = "home">
     <div id = "something">
    <h1 style = "text-align:center;font-family:coc;font-size:13px;padding-top:10px;color: #005ea1">You May Know...</h1>
    <% _.forEach(users, (user) => { %>   
    <div class="media">
      <div class="media-body" style = "border:none;border-bottom:1px solid #101010;">
        <h4 class="media-heading" id = "post" style = "margin-top:10px;font-size:10.5px;"> <a href = "/user/<%= user._id %>"><img id = "post-img" class="media-object" src="/profile/<%= user.userImage %>" /></a><%= user.username %></h4>
      </div>
    </div>
    <% }) %>
  </div>

  <div class = "bottom-above">
  </div>

  <div class = "bottom-right">
    &nbsp;
  </div>

  <form method = "post" id = "form-froup">
  <input type = "text" class = "search" name = "search" placeholder = "      Search for Someone you Know">
  </form>
  <a href = "/dashboard">
  <div class = "results">
    <h1 style = "text-align:center;font-family:coc;font-size:12px;padding-top:5px;color: #f25252">Upload News And Get A Chance To Work With Us</h1>
    <img src = "/css/images/Drake.png" style = "height:180px;width:180px;margin-left:54.6px;margin-top:-22px;">
    <h1 style = "text-align:center;font-family:coc;font-size:12.5px;padding-top:10px;color: #f25252">No Worries! You Are Completely Anonymous</h1>
  </div>
  </a>

<div id = "container">
  <input type="hidden" id = "senderName" value = "<%= userData.username %>">
  <input type="hidden" id = "senderImage" value = "<%= userData.userImage %>">
  <form id="sendTweet" action = "/home" method = "post">
    <input type="text" class = "tweetName" id="tweet" placeholder = "Poop Here <%= userData.username %>" required autofocus>
    <input type = "submit" id = "supporter" value = "Tweet">
    <br />
  </form>
  <br />
  <br />
  <div id="tweets">
      <% _.forEach(tweets, (tweet) => { %>
    <div class="media">
      <div class="media-body" id = "post-container">
        <h4 class="media-heading" id = "post"> <a href = "/user/<%= tweet.owner._id %>"><img id = "post-img" class="media-object" src="/profile/<%= tweet.owner.userImage %>" /></a><%= tweet.owner.username %><span id = "twee">posted</span></h4>
        <h6 class = "media-heading" id = "date" style = "margin-left:55px;margin-bottom:20px;font-size:5px;margin-top:-17px;"><%= moment(tweet.created).startOf('second').fromNow() %></h6>
        <p class = "media-oject" id = "post-content"><%= tweet.content %></p>
      </div>
    </div>
    <%  }) %>
  </div>
  </div>
    </div> 
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src = "/socket.io/socket.io.js"></script>
    <script src = "/js/tweet.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
